.filter-container {
  background-color: white;
  height: 50px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .filter-container .filter-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;
    width: 30%; }
    .filter-container .filter-navbar span {
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #D7D8D6;
      cursor: pointer; }
    .filter-container .filter-navbar .active {
      color: #00B4CF;
      border-bottom: 3px solid #00B4CF; }
  .filter-container .filter-search {
    display: flex;
    align-items: center;
    width: 30%; }
    .filter-container .filter-search .c-input {
      width: 100%; }
      .filter-container .filter-search .c-input--search {
        width: 75%; }
    .filter-container .filter-search .c-button--search {
      position: absolute;
      width: 30px;
      height: 30px;
      border: none; }
      .filter-container .filter-search .c-button--search .c-icon__search {
        position: absolute;
        margin-top: -6px;
        margin-left: -8px; }
        .filter-container .filter-search .c-button--search .c-icon__search:hover, .filter-container .filter-search .c-button--search .c-icon__search:focus {
          cursor: pointer; }
      .filter-container .filter-search .c-button--search:hover, .filter-container .filter-search .c-button--search:focus {
        background-color: #00B4CF;
        color: #D7D8D6; }
  .filter-container .filter-displayMode {
    margin-left: auto;
    margin-right: 20px; }
    .filter-container .filter-displayMode .c-icon__list {
      margin-left: 20px;
      color: #00B4CF; }
