.c-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-family: inherit;
  padding: 12px 20px;
  text-decoration: none;
  white-space: nowrap; }
  .c-button:hover, .c-button:focus {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    background-color: #01869A; }
  .c-button--blue {
    background-color: #00B4CF;
    border-color: #00B4CF;
    color: white; }
    .c-button--blue:hover, .c-button--blue:focus {
      cursor: pointer;
      outline: none;
      text-decoration: none;
      background-color: #01869A;
      border-color: #01869A; }
  .c-button--grey {
    background-color: #2D4054;
    border-color: #2D4054;
    color: white; }
    .c-button--grey:hover, .c-button--grey:focus {
      cursor: pointer;
      outline: none;
      text-decoration: none;
      background-color: #435466;
      border-color: #435466; }
  .c-button--search {
    background-color: transparent;
    border-color: transparent;
    color: #2D4054; }
    .c-button--search:hover, .c-button--search:focus {
      cursor: pointer;
      outline: none;
      text-decoration: none;
      background-color: #435466;
      border-color: #435466; }
