.c-primary-action {
  width: 82%;
  display: flex;
  flex-direction: row;

  &__nav {
    width: 20%;
    background-color: #2D4054;
    color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  &__content {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
  }

}