.nav-container {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: auto; }
  .nav-container .nav-item {
    height: 45px; }
    .nav-container .nav-item:hover, .nav-container .nav-item:focus {
      background-color: #00B4CF; }
    .nav-container .nav-item .nav-item-icon {
      margin-right: 20px; }
