.c-status {
  display: inline-block;
  color: white;
  font-size: 14px;
  min-width: 2em;
  padding: 2px 5px;
  text-align: center;
  vertical-align: middle;
  line-height: initial;

  &[status="building"] {
    background-color: #FF9A2A;
  }
  &[status="idle"] {
    background-color: #7FBC39;
  }
}