.summary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .summary-item {
    width: 30%;
    height: 150px;
    .summary-icon {
      font-size: 138px;
      margin-right: auto;
      color: white;
      opacity: 0.2;
    }
  }

  .summary-building {
    background-color: #FF9A2A;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    span:first-child {
      align-self: flex-start;
      margin-right: auto;
      font-size: 18px;
      font-weight: bold;
      color: white;
      margin-top: 20px;
      margin-left: 20px;
    }

    span:last-child {
      font-size: 48px;
      color: white;
      margin-bottom: 20px;
      margin-right: 20px;
    }

  }

  .summary-idle {
    background-color: #7FBC39;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    span:first-child {
      align-self: flex-start;
      margin-right: auto;
      font-size: 18px;
      font-weight: bold;
      color: white;
      margin-top: 20px;
      margin-left: 20px;
    }

    span:last-child {
      font-size: 48px;
      color: white;
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }

  .summary-subSummary {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .all, .physical, .virtual {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
      span:first-child {
        margin-bottom: auto;
        font-size: 12px;

      }

      span:last-child {
        margin-bottom: 10px;
        font-size: 20px;

      }
    }

  }



}